

#left-nav {
    background: #ccc url(../images/side.png) repeat;
    margin-bottom: -5000px; /* any large number will do */
    padding-bottom: 5000px;
    width:200px;
    float:left;

}
#right-nav {
    background: #ccc url(../images/side.png) repeat;
    width:200px;
    float:right;
    margin-bottom: -5000px; /* any large number will do */
    padding-bottom: 5000px;
}
.container {
    width: 800px;
    max-width: 90%;
    padding: 20px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

footer {
    background-color: #333;
    color: #46b8da;
    font-size: 20px;
    font-family: FontAwesome;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;

}

ul {
    list-style-type: none;
    display: inline-block;
}

a{
    padding: 30px;
}